# **IMPORTANDO LIBRERIAS**

In [1]:
import sys
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os
from sqlalchemy.orm import declarative_base, relationship
from sqlalchemy import create_engine, Column, Integer, String, VARCHAR,Boolean, TIMESTAMP,Float
from sqlalchemy.types import DateTime
from sqlalchemy.orm import sessionmaker


sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
load_dotenv()  # Carga las variables del archivo .env

config = {
    'host': os.getenv('HOST'),
    'user': os.getenv('USER'),
    'password': os.getenv('PASSWORD'),
    'database': os.getenv('DATABASE'),
    'port': os.getenv('PORT')
}

In [3]:
# Crear la URL de conexión para SQLAlchemy
db_url = f"mysql+pymysql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/caso_8"

# Crear el motor de SQLAlchemy
engine = create_engine(db_url, echo=True)

In [4]:
Base = declarative_base()

# **1. GENERACIÓN DE TABLAS**

In [5]:
class InterestMap(Base):

    __tablename__ = 'interest_map'
    __table_args__= {'extend_existing':True}

    id = Column(Integer, primary_key=True)
    interest_name = Column(VARCHAR(255))
    interest_summary = Column(VARCHAR(255))
    created_at = Column(TIMESTAMP)
    last_modified = Column(TIMESTAMP)

class InterestMetrics(Base):
    __tablename__ = 'interest_metrics'
    __table_args__ = {'extend_existing': True}

    id = Column(Integer, primary_key=True, autoincrement=True)
    _month = Column(VARCHAR(20))
    _year = Column(VARCHAR(20))
    month_year = Column(VARCHAR(20))
    interest_id = Column(VARCHAR(20))
    composition = Column(Float)
    index_value = Column(Float)
    ranking = Column(Integer)
    percentile_ranking = Column(Float)

Base.metadata.create_all(engine)

2025-05-05 15:29:52,144 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-05-05 15:29:52,145 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:52,147 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-05-05 15:29:52,147 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:52,148 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-05-05 15:29:52,148 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:52,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:52,150 INFO sqlalchemy.engine.Engine DESCRIBE `caso_8`.`interest_map`
2025-05-05 15:29:52,150 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:52,152 INFO sqlalchemy.engine.Engine DESCRIBE `caso_8`.`interest_metrics`
2025-05-05 15:29:52,153 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:52,154 INFO sqlalchemy.engine.Engine
CREATE TABLE interest_map (
	id INTEGER NOT NULL AUTO_INCREMENT,
	interest_name VARCHAR(255),
	interest_summary VARCHAR(255),
	created_at TIMESTAMP NULL,
	last_modified TIMESTAMP NULL,
	PRIMARY KEY (id)
)


2025-05-05 15:29:52,155 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2025-05-05 15:29:52,191 INFO sqlalchemy.engine.Engine
CREATE TABLE interest_metrics (
	id INTEGER NOT NULL AUTO_INCREMENT,
	_month VARCHAR(20),
	_year VARCHAR(20),
	month_year VARCHAR(20),
	interest_id VARCHAR(20),
	composition FLOAT,
	index_value FLOAT,
	ranking INTEGER,
	percentile_ranking FLOAT,
	PRIMARY KEY (id)
)


2025-05-05 15:29:52,192 INFO sqlalchemy.engine.Engine [no key 0.00071s] {}
2025-05-05 15:29:52,206 INFO sqlalchemy.engine.Engine COMMIT

## **1.1 CARGANDO LOS DATOS**

In [6]:
from utils import funciones_utiles

interest_map_data = funciones_utiles.load_text_as_tuples('data/interest_map_data.txt')
interest_metrics_data = funciones_utiles.load_text_as_tuples('data/interest_metrics_data.txt')

In [7]:
# Creando la session
Session = sessionmaker(bind=engine)
session = Session()

### **1.1.1 Cargando datos `interest_map`**

In [8]:
# Obtener los ids existentes de InterestMap
existing_ids = {row.id for row in session.query(InterestMap.id).all()}

objects = [
    InterestMap(
        id=id,
        interest_name=interest_name,
        interest_summary=interest_summary,
        created_at=created_at,
        last_modified=last_modified
    )
    for id, interest_name, interest_summary, created_at, last_modified in interest_map_data
    if id not in existing_ids
]

if objects:
    session.bulk_save_objects(objects)
    session.commit()
else:
    print("No hay nuevos registros para insertar en InterestMap.")

2025-05-05 15:29:52,528 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:52,531 INFO sqlalchemy.engine.Engine SELECT interest_map.id AS interest_map_id
FROM interest_map
2025-05-05 15:29:52,532 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {}
2025-05-05 15:29:52,556 INFO sqlalchemy.engine.Engine INSERT INTO interest_map (id, interest_name, interest_summary, created_at, last_modified) VALUES (%(id)s, %(interest_name)s, %(interest_summary)s, %(created_at)s, %(last_modified)s)
2025-05-05 15:29:52,557 INFO sqlalchemy.engine.Engine [generated in 0.00353s] [{'id': '1', 'interest_name': 'Fitness Enthusiasts', 'interest_summary': 'Consumers using fitness tracking apps and websites.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}, {'id': '2', 'interest_name': 'Gamers', 'interest_summary': 'Consumers researching game reviews and cheat codes.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}, {'id': '3', 'interest_name': 'Car Enthusiasts', 'interest_summary': 'Readers of automotive news and car reviews.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}, {'id': '4', 'interest_name': 'Luxury Retail Researchers', 'interest_summary': 'Consumers researching luxury product reviews and gift ideas.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}, {'id': '5', 'interest_name': 'Brides & Wedding Planners', 'interest_summary': 'People researching wedding ideas and vendors.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}, {'id': '6', 'interest_name': 'Vacation Planners', 'interest_summary': 'Consumers reading reviews of vacation destinations and accommodations.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:13'}, {'id': '7', 'interest_name': 'Motorcycle Enthusiasts', 'interest_summary': 'Readers of motorcycle news and reviews.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:13'}, {'id': '8', 'interest_name': 'Business News Readers', 'interest_summary': 'Readers of online business news content.', 'created_at': '2016-05-26 14:57:59', 'last_modified': '2018-05-23 11:30:12'}  ... displaying 10 of 1209 total bound parameter sets ...  {'id': '51120', 'interest_name': 'Foot Health Researchers', 'interest_summary': 'People reading news and advice on preventing and treating foot health issues.', 'created_at': '2019-04-26 18:00:00', 'last_modified': '2019-04-29 14:20:04'}, {'id': '51678', 'interest_name': 'Plumbers', 'interest_summary': 'Professionals reading industry news and researching products and services for plumbers.', 'created_at': '2019-05-06 22:00:00', 'last_modified': '2019-05-07 18:50:04'}]
2025-05-05 15:29:52,603 INFO sqlalchemy.engine.Engine COMMIT

### **1.1.1 Cargando datos `interest_metrics`**

In [9]:
# Obtener los ids existentes de InterestMap
existing_ids = {row.id for row in session.query(InterestMetrics.id).all()}

objects = [
    InterestMetrics(
        _month = None if _month == 'NULL' or _month == '' else _month,
        _year = None if _year == 'NULL' or _year == '' else _year,
        month_year = None if month_year == 'NULL' or month_year == '' else month_year,
        interest_id = interest_id,
        composition = composition,
        index_value = index_value,
        ranking = ranking,
        percentile_ranking = percentile_ranking
    )
    for _month, _year, month_year, interest_id, composition, index_value, ranking, percentile_ranking  in interest_metrics_data
    if id not in existing_ids
]

if objects:
    session.bulk_save_objects(objects)
    session.commit()
else:
    print("No hay nuevos registros para insertar en InterestMap.")

2025-05-05 15:29:52,622 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:52,623 INFO sqlalchemy.engine.Engine SELECT interest_metrics.id AS interest_metrics_id
FROM interest_metrics
2025-05-05 15:29:52,623 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2025-05-05 15:29:53,031 INFO sqlalchemy.engine.Engine INSERT INTO interest_metrics (_month, _year, month_year, interest_id, composition, index_value, ranking, percentile_ranking) VALUES (%(_month)s, %(_year)s, %(month_year)s, %(interest_id)s, %(composition)s, %(index_value)s, %(ranking)s, %(percentile_ranking)s)
2025-05-05 15:29:53,032 INFO sqlalchemy.engine.Engine [generated in 0.04219s] [{'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '32486', 'composition': '11.89', 'index_value': '6.19', 'ranking': '1', 'percentile_ranking': '99.86'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '6106', 'composition': '9.93', 'index_value': '5.31', 'ranking': '2', 'percentile_ranking': '99.73'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '18923', 'composition': '10.85', 'index_value': '5.29', 'ranking': '3', 'percentile_ranking': '99.59'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '6344', 'composition': '10.32', 'index_value': '5.1', 'ranking': '4', 'percentile_ranking': '99.45'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '100', 'composition': '10.77', 'index_value': '5.04', 'ranking': '5', 'percentile_ranking': '99.31'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '69', 'composition': '10.82', 'index_value': '5.03', 'ranking': '6', 'percentile_ranking': '99.18'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '79', 'composition': '11.21', 'index_value': '4.97', 'ranking': '7', 'percentile_ranking': '99.04'}, {'_month': '7', '_year': '2018', 'month_year': '07-2018', 'interest_id': '6111', 'composition': '10.71', 'index_value': '4.83', 'ranking': '8', 'percentile_ranking': '98.9'}  ... displaying 10 of 14273 total bound parameter sets ...  {'_month': 'None', '_year': 'None', 'month_year': 'None', 'interest_id': 'None', 'composition': '1.51', 'index_value': '0.63', 'ranking': '1193', 'percentile_ranking': '0.08'}, {'_month': 'None', '_year': 'None', 'month_year': 'None', 'interest_id': 'None', 'composition': '1.64', 'index_value': '0.62', 'ranking': '1194', 'percentile_ranking': '0'}]
2025-05-05 15:29:53,402 INFO sqlalchemy.engine.Engine COMMIT

# Exploracion de datos y limpieza

In [10]:
query = '''

   SELECT 
    SUM(CASE WHEN id = 'None' OR id  OR id = '' THEN 1 ELSE 0 END) AS id_Nones,
    SUM(CASE WHEN interest_name = 'None' OR interest_name  OR interest_name = '' THEN 1 ELSE 0 END) AS interest_name_Nones,
    SUM(CASE WHEN interest_summary = 'None' OR interest_summary  OR interest_summary = '' THEN 1 ELSE 0 END) AS interest_summary_Nones,
    SUM(CASE WHEN created_at  THEN 1 ELSE 0 END) AS created_at_Nones,
    SUM(CASE WHEN last_modified  THEN 1 ELSE 0 END) AS last_modified_Nones
FROM interest_map;

'''

pd.read_sql_query(query, con=engine)

2025-05-05 15:29:53,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:53,422 INFO sqlalchemy.engine.Engine

   SELECT
    SUM(CASE WHEN id = 'None' OR id  OR id = '' THEN 1 ELSE 0 END) AS id_Nones,
    SUM(CASE WHEN interest_name = 'None' OR interest_name  OR interest_name = '' THEN 1 ELSE 0 END) AS interest_name_Nones,
    SUM(CASE WHEN interest_summary = 'None' OR interest_summary  OR interest_summary = '' THEN 1 ELSE 0 END) AS interest_summary_Nones,
    SUM(CASE WHEN created_at  THEN 1 ELSE 0 END) AS created_at_Nones,
    SUM(CASE WHEN last_modified  THEN 1 ELSE 0 END) AS last_modified_Nones
FROM interest_map;


2025-05-05 15:29:53,423 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:53,428 INFO sqlalchemy.engine.Engine ROLLBACK

,id_Nones,interest_name_Nones,interest_summary_Nones,created_at_Nones,last_modified_Nones
0,1209.0,0.0,20.0,1209.0,1209.0

In [11]:
query = '''

    SELECT 
        SUM(CASE WHEN _month = 'None' OR _month = '' THEN 1 ELSE 0 END) AS month_nulls,
        SUM(CASE WHEN _year = 'None' OR _year = '' THEN 1 ELSE 0 END) AS _year_nulls,
        SUM(CASE WHEN month_year = 'None'  OR month_year = '' THEN 1 ELSE 0 END) AS month_year_nulls,
        SUM(CASE WHEN interest_id = 'None'  OR interest_id = '' THEN 1 ELSE 0 END) AS interest_id_nulls,
        SUM(CASE WHEN index_value  = 'None'THEN 1 ELSE 0 END) AS index_value_nulls,
        SUM(CASE WHEN ranking  = 'None' THEN 1 ELSE 0 END) AS ranking_nulls,
        SUM(CASE WHEN percentile_ranking = 'None' THEN 1 ELSE 0 END) AS percentile_ranking_nulls

    FROM interest_metrics;

'''
pd.read_sql_query(query, con=engine)

2025-05-05 15:29:53,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:53,454 INFO sqlalchemy.engine.Engine

    SELECT
        SUM(CASE WHEN _month = 'None' OR _month = '' THEN 1 ELSE 0 END) AS month_nulls,
        SUM(CASE WHEN _year = 'None' OR _year = '' THEN 1 ELSE 0 END) AS _year_nulls,
        SUM(CASE WHEN month_year = 'None'  OR month_year = '' THEN 1 ELSE 0 END) AS month_year_nulls,
        SUM(CASE WHEN interest_id = 'None'  OR interest_id = '' THEN 1 ELSE 0 END) AS interest_id_nulls,
        SUM(CASE WHEN index_value  = 'None'THEN 1 ELSE 0 END) AS index_value_nulls,
        SUM(CASE WHEN ranking  = 'None' THEN 1 ELSE 0 END) AS ranking_nulls,
        SUM(CASE WHEN percentile_ranking = 'None' THEN 1 ELSE 0 END) AS percentile_ranking_nulls

    FROM interest_metrics;


2025-05-05 15:29:53,454 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:53,475 INFO sqlalchemy.engine.Engine ROLLBACK

,month_nulls,_year_nulls,month_year_nulls,interest_id_nulls,index_value_nulls,ranking_nulls,percentile_ranking_nulls
0,1194.0,1194.0,1194.0,1193.0,0.0,0.0,14.0

In [12]:
query = '''

    SELECT 
        DATE_FORMAT(STR_TO_DATE(month_year, "%%m-%%Y"), "01-%%m-%%Y") AS month_year_formatted
    FROM interest_metrics;

'''
pd.read_sql_query(query, con=engine)

2025-05-05 15:29:53,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:29:53,502 INFO sqlalchemy.engine.Engine

    SELECT
        DATE_FORMAT(STR_TO_DATE(month_year, "%%m-%%Y"), "01-%%m-%%Y") AS month_year_formatted
    FROM interest_metrics;


2025-05-05 15:29:53,502 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:29:53,577 INFO sqlalchemy.engine.Engine ROLLBACK

      month_year_formatted
0               01-07-2018
1               01-07-2018
2               01-07-2018
3               01-07-2018
4               01-07-2018
...                    ...
14268                 None
14269                 None
14270                 None
14271                 None
14272                 None

[14273 rows x 1 columns]

In [13]:
"""with engine.begin() as connection:
    connection.execute(text('''
        UPDATE caso_8.interest_metrics
        SET month_year = ''
        WHERE month_year IS NULL OR month_year = 'None';
    '''))"""

"with engine.begin() as connection:\n    connection.execute(text('''\n        UPDATE caso_8.interest_metrics\n        SET month_year = ''\n        WHERE month_year IS NULL OR month_year = 'None';\n    '''))"

In [16]:
with engine.begin() as connection:

    # Actualizar la columna para que tenga el formato correcto
    connection.execute(text('''
        UPDATE caso_8.interest_metrics
        SET month_year = DATE_FORMAT(
    STR_TO_DATE(
        NULLIF(NULLIF(NULLIF(month_year, 'NULL'), 'None'), ''), 
        '%m-%Y'
    ),
    '01-%m-%Y'
);
    '''))

2025-05-05 15:31:30,652 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:31:30,653 INFO sqlalchemy.engine.Engine
        UPDATE caso_8.interest_metrics
        SET month_year = DATE_FORMAT(
    STR_TO_DATE(
        NULLIF(NULLIF(NULLIF(month_year, 'NULL'), 'None'), ''),
        '%%m-%%Y'
    ),
    '01-%%m-%%Y'
);

2025-05-05 15:31:30,654 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {}
2025-05-05 15:31:30,985 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
query = '''

    SELECT 
        month_year
     FROM interest_metrics
     

'''
pd.read_sql_query(query, con=engine)

2025-05-05 15:31:33,764 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-05 15:31:33,765 INFO sqlalchemy.engine.Engine

    SELECT
        month_year
     FROM interest_metrics



2025-05-05 15:31:33,765 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-05 15:31:33,917 INFO sqlalchemy.engine.Engine ROLLBACK

       month_year
0      01-07-2018
1      01-07-2018
2      01-07-2018
3      01-07-2018
4      01-07-2018
...           ...
14268        None
14269        None
14270        None
14271        None
14272        None

[14273 rows x 1 columns]