<a href="https://colab.research.google.com/github/LLAES07/SQL_DESAFIO/blob/main/Caso_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<b><center><h1>DESAFIO N掳1 - 8 SEMANAS DE SQL</h1></center></b>

# **IMPORTAR LIBRERIAS NECESARIAS**

In [1]:
import sqlite3
import pandas as pd
import numpy as np

# **GENERACIN BASE DE DATOS**

In [2]:
# Generando una conexci贸n a una nueva base de datos

connection = sqlite3.connect('db/test.db')

# Generando el objeto cursos para poder interactuar con la base de datos

cursor = connection.cursor()

# **GENERACIN DE LAS TABLAS**

## **TABLA SALES**

In [3]:

# Generando la tabla sales
cursor.execute("""
  CREATE TABLE sales (
  "customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER
)

""")

# Generando el commit para actualizar
connection.commit()

In [4]:
# Comprobando la existencia de la tabla
pd.read_sql_query("SELECT * FROM sales", connection)

Empty DataFrame
Columns: [customer_id, order_date, product_id]
Index: []

In [5]:
# Generando una lista con los valores para poblar la tabla
fill_list_sales = [
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3')
]

# Utilizando executemany para poder ejecutar de manera r谩pida y eficiente el poblado de la tabla
cursor.executemany(
    """INSERT INTO sales (customer_id, order_date, product_id) VALUES (?, ?, ?)""", fill_list_sales)

# Actualizando los datos
connection.commit()

## **TABLA MENU**

In [6]:
# Generaci贸n Tabla Menu
cursor.execute("""
                    CREATE TABLE IF NOT EXISTS menu(
                    product_id INTEGER, product_name VARCHAR(5), price INTEGER)""")

connection.commit()


# Generando una lista con los valores para poblar la tabla
fill_list_menu = [
    ('1', 'sushi', '10'),
    ('2', 'curry', '15'),
    ('3', 'ramen', '12')
]

# Utilizando executemany para poder ejecutar de manera r谩pida y eficiente el poblado de la tabla
cursor.executemany(
    "INSERT INTO menu (product_id, product_name, price) VALUES (?, ?, ?)", fill_list_menu)

# Actualizando los datos
connection.commit()

## **TABLA MEMBERS**

In [7]:
# Creando tabla members

cursor.execute("""
  CREATE TABLE IF NOT EXISTS members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
)
""")


# Generando la actualizaci贸n
connection.commit()


# Generando una lista con los valores para poblar la tabla
fill_list_members = [
  ('A', '2021-01-07'),
  ('B', '2021-01-09')
]


# Utilizando executemany para poder ejecutar de manera r谩pida y eficiente el poblado de la tabla
cursor.executemany(
    """
    INSERT INTO members (customer_id, join_date) VALUES (?, ?)
    """, fill_list_members
)

# Actualizando los datos
connection.commit()

# **Revisando las tablas**

In [8]:
pd.read_sql_query("SELECT * FROM sales", connection)

   customer_id  order_date  product_id
0            A  2021-01-01           1
1            A  2021-01-01           2
2            A  2021-01-07           2
3            A  2021-01-10           3
4            A  2021-01-11           3
5            A  2021-01-11           3
6            B  2021-01-01           2
7            B  2021-01-02           2
8            B  2021-01-04           1
9            B  2021-01-11           1
10           B  2021-01-16           3
11           B  2021-02-01           3
12           C  2021-01-01           3
13           C  2021-01-01           3
14           C  2021-01-07           3

In [9]:
pd.read_sql_query("SELECT * FROM menu", connection)

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

In [10]:
pd.read_sql_query("SELECT * FROM members", connection)

  customer_id   join_date
0           A  2021-01-07
1           B  2021-01-09

# **Generando los dataframes**

In [11]:
df_sales, df_menu, df_members = pd.read_sql_query("SELECT * FROM sales", connection), pd.read_sql_query("SELECT * FROM menu", connection), pd.read_sql_query("SELECT * FROM members", connection)

## Entendiendo las relaciones de las tablas

**Sales** se relaciona con **menu** con `product_id` que corresponde al id de cada producto. Por lo que su relaci贸n es de **n:1**.


Adem谩s **Sales** tambien se relaciona con la tabla **members** por la clave foreana `customer id` en donde la relaci贸n es **n:1.**



---

<b><h1><center>PREGUNTAS</center></h1></b>

# **1. Cual es la cantidad total de dinero que cada cliente ha gastado en el restaurant?**

-- Cantidad total de cada usario gastado en el restaurant

-- customer_id, total_spend

## **Soluci贸n SQL**

In [12]:
query ="""
      SELECT
        s.customer_id,
        SUM(m.price) AS total_gastado
       FROM
            sales s
      LEFT JOIN menu m
        ON s.product_id = m.product_id
      GROUP BY s.customer_id
"""

pd.read_sql_query(query, connection)

  customer_id  total_gastado
0           A             76
1           B             74
2           C             36

##  **Soluci贸n Pandas**

In [13]:
df_merge = pd.merge(df_sales, df_menu, on='product_id', how='left')

df_merge.groupby('customer_id', as_index=False).agg(total_gastado = ('price', 'sum'))

  customer_id  total_gastado
0           A             76
1           B             74
2           C             36

**Explicaci贸n**: Necesitamos obtener la cantidad gastada por cada usuario. En nuestra tabla sales tenemos todas las compras realizadas y ademas el id de cada producto.

  Tenemos:

    - El registro de cada compra
  
  Nos falta:

    - El precio de cada objeto comprado


Para poder obtener los precios de cada compra necesitamos hacer un join entre **sales** y **menu** que es donde se encuentran los valores de cada producto comprado en la tabla sales

# **2. Cuantos d铆as cada cliente ha visitado el restaurant?**

-- Identificar que tabla tiene el dato de visita al restaurant

-- Contar la cantidad de dias segun cada usuario

## **Soluci贸n SQL**

In [14]:

query = """

  SELECT
    customer_id,
    COUNT(DISTINCT order_date) AS days_visited
  FROM
    Sales
  GROUP BY
    customer_id


"""
pd.read_sql_query(query, connection)

  customer_id  days_visited
0           A             4
1           B             6
2           C             2

##  **Soluci贸n Pandas**

In [15]:
# Agrupar por customer_id y contar los unicos por las fechas
df_sales.groupby(['customer_id'], as_index=False)['order_date'].nunique()

  customer_id  order_date
0           A           4
1           B           6
2           C           2

**Explicaci贸n**: Una vez identificado que la tabla **sales** tiene la informaci贸n de cada compra del usuario adem谩s de la **fecha en la cual realiz贸 la compra** el problema se simplifica.
Agrupar por usuario y **contar cada fecha unica como 1 d铆a** que ha sido visitado

# **3. C煤al fue el primer item del menu comprado por cada cliente?**

## **Soluci贸n SQL**

In [16]:
query ="""
  -- Tabla temporal para rankear las compras de cada usuario

  WITH primera_orden AS (

    SELECT
      s.customer_id,
      m.product_name,
      s.order_date,
      DENSE_RANK() OVER (PARTITION BY s.customer_id ORDER BY s.order_date ASC) AS ranking
    FROM
      sales s
    LEFT JOIN menu m
      ON s.product_id = m.product_id
  )

  -- Tabla final con el primer producto comprado por cada usuario

  SELECT
    customer_id,
    product_name
  FROM
    primera_orden
  WHERE
    ranking = 1


"""

pd.read_sql_query(query, connection)

  customer_id product_name
0           A        sushi
1           A        curry
2           B        curry
3           C        ramen
4           C        ramen

##  **Soluci贸n Pandas**

In [17]:
# Merge entre sales y menu
df_merge = pd.merge(df_sales, df_menu, how='left', on='product_id')

# Encontrar la fecha m铆nima por usuario
df_min_by_user = df_merge.groupby('customer_id', as_index=False)['order_date'].min()

# Merge entre las fechas minimas y usuarios y el df_merge para encontrar que productos son
df_result = pd.merge(df_min_by_user, df_merge, how='inner', on=['customer_id', 'order_date'])

df_result = df_result[['customer_id', 'product_name']]
df_result

  customer_id product_name
0           A        sushi
1           A        curry
2           B        curry
3           C        ramen
4           C        ramen

In [18]:
# Otra forma m谩s rapida
df_merge.groupby('customer_id').first().reset_index()

  customer_id  order_date  product_id product_name  price
0           A  2021-01-01           1        sushi     10
1           B  2021-01-01           2        curry     15
2           C  2021-01-01           3        ramen     12

# **4. Cu谩l es el item m谩s comprado en el menu y cuantas veces fue comprado por todos los usarios?**

## **Soluci贸n SQL**

In [19]:
query = """

-- Contador de productos

WITH count_products  AS  (
  SELECT
  product_name, COUNT(product_name) AS n_times_sold
  FROM sales s
  LEFT JOIN menu m
  ON s.product_id = m.product_id
  GROUP BY product_name ),


-- Ranking de productos
 ranking_products AS (
 	SELECT
   		*,
   		DENSE_RANK() OVER (ORDER BY n_times_sold DESC) AS ranking
   FROM count_products)

-- Seleccionar el numero del ranking

 SELECT
 	product_name,
  n_times_sold
  FROM
 	 ranking_products
 WHERE ranking = 1;

"""

pd.read_sql_query(query, connection)

  product_name  n_times_sold
0        ramen             8

**Explicaci贸n**: El primer paso es saber cuantas veces se han comprado cada producto. El siguiente consiste en generar un ranking que sea facilmente actualizable usando DENSE_RANK(). Con esta segunda tabla temporal podremos filtrar por aquel item que tenga la mayor cantidad de unidades vendidas.
Por ultimo se filtra la tabla del ranking para encontrar cual es el item mas vendido.

##  **Soluci贸n Pandas**

In [20]:
# Merge entre sales y menu
df_merge = pd.merge(df_sales, df_menu, how='left', on='product_id')

# Encontrando la id del producto m谩s vendia
most_sold_item_id = df_merge.groupby(['product_id'], as_index=False).size()\
                            .sort_values(by='size', ascending=False).iloc[0, 0]

# Filtrando por el id encontrado en el paso anterior y agrupando por el nombre del producto y contando por el id
df_merge.loc[df_merge['product_id']==most_sold_item_id, :].groupby('product_name', as_index=False).agg(total_vendidos=('product_id','size'))

  product_name  total_vendidos
0        ramen               8

In [21]:
df_merge.groupby(['product_id', 'product_name'], as_index=False)\
        .size()\
        .sort_values(by='size', ascending=False)\
        .iloc[[0]]\
        [['product_name', 'size']]

  product_name  size
2        ramen     8

# **5. Cual item fue el m谩s popular para cada usuario ?**

## **Soluci贸n SQL**

In [22]:
query = """

-- Tabla temporal con la cantidad de veces que se ha comprado cada producto

WITH mostsolds_by_customer AS (
 SELECT
 	  customer_id,
  	product_name,
    COUNT(product_name) AS n_times_sold
  FROM sales s
  LEFT JOIN menu m
  ON s.product_id = m.product_id
  GROUP BY customer_id ,product_name ),

-- ranking de productos por usuario
ranking_pop AS (

  SELECT
  	*,
  	DENSE_RANK() OVER (PARTITION BY customer_id ORDER BY n_times_sold DESC) AS ranking

  FROM
  	mostsolds_by_customer

)

-- Seleccionar el ranking 1 de cada cliente

SELECT
	customer_id,
   	product_name
FROM ranking_pop
WHERE ranking = 1

"""

pd.read_sql_query(query, connection)

  customer_id product_name
0           A        ramen
1           B        curry
2           B        ramen
3           B        sushi
4           C        ramen

**Explicaci贸n:** Similar al anterior pero ahora incluyendo la partici贸n por cliente generamos un conteo de productos seg煤n cada cliente. Una vez generado esto lo dejamos en una tabla temporal. Usando la tabla temporal generamos un raking asegurandonos de que la partici贸n este sobre cada cliente para que asi cada ranking de conteo de productos se asocie con su respectivo cliente. Ya generado el ranking tomamos esta tabla temporal y la filtramos seg煤n el numero del ranking que queramos en este caso 1 y tenemos los items que son los mas vendidos por cada usuario. En nuestro caso el cliente B ha comprado la misma cantidad tanto de curry, ramen y sushi.

##  **Soluci贸n Pandas**

In [23]:
# Utilizamos el merge anterior y agrupamos por customer id y las columnas de los productos utilizando size para tener la cuenta
df_popular = df_merge.groupby(['customer_id','product_id', 'product_name'], as_index=False).size()

# Utilizamos transform para poder encontrar el maximo por las diferentes subcategorias 
max_por_cliente = df_popular.groupby('customer_id')['size'].transform('max')

# Subseteamos el dataset anterior seg煤n el m谩ximo por cliente adquirido
df_popular[df_popular['size'] == max_por_cliente][['customer_id', 'product_name', 'size']]

  customer_id product_name  size
2           A        ramen     3
3           B        sushi     2
4           B        curry     2
5           B        ramen     2
6           C        ramen     3

# **6. Que item fue comprado primero por cada cliente despu茅s que se convitieron en miembro?**

## **Soluci贸n SQL**

In [24]:
query = """

  WITH first_buy_after_membership AS (
  SELECT
      s.customer_id,
          s.product_id,
          s.order_date,
          DENSE_RANK() OVER(PARTITION BY s.customer_id ORDER BY s.order_date) AS ranking
  FROM sales s
  LEFT JOIN members m
  ON s.customer_id = m.customer_id AND s.order_date >= m.join_date
  WHERE m.customer_id IS NOT NULL )

  SELECT
    f.customer_id,
      m.product_name
  FROM
    first_buy_after_membership f
  INNER JOIN menu m
  ON f.product_id = m.product_id
  WHERE ranking=1


"""

pd.read_sql_query(query, connection)

  customer_id product_name
0           B        sushi
1           A        curry

**Explicaci贸n**: Seg煤n lo que nos pide el ejercicio sabemos que necesitamos la tabla sales y members primeramente, ya que necesitamos encontrar aquellos productos comprados despu茅s de ser miembros. En la primera tabla temporal `first_buy_after_membership` la idea es filtrar la tabla **sales** para saber cuales son los productos que fueron comprado primeramente. Con un LEFT JOIN nos aseguramos que se incluyan todas las fechas y sus items comprados respectivamente. Una vez realizado esto necesitamos que para cada custumer se junte latabla seg煤n el customer_id peero ademas seg煤n el _order_date_ el cual debe ser mayor a *m.join_date*. Con esto nos aseguramos que la compra del producto sea mayor o igual a la fecha de que se hizo miembro. Adem谩s con esta tabla podemos generar un ranking en donde el primer registro ser谩 el m谩s viejo. Ya con esto se puede filtrar por el ranking = 1.

##  **Soluci贸n Pandas**

In [25]:
# Generamos el merge entre nuestro df_merge y members para tener la columna join_date
df_combinado = df_merge.merge(df_members, on='customer_id', how='inner')

# Filtramos por todas aquellas fechas que sean iguales o superiores a join date
df_combinado = df_combinado[df_combinado['order_date'] >= df_combinado['join_date']]

# Ordenamos por order date segun el cliente
df_combinado = df_combinado.sort_values(['customer_id', 'order_date'])

# Removemos todos los demas registros para solo dejar el primero
df_primera_compra = df_combinado.drop_duplicates(subset=['customer_id'], keep='first')

# Resultado final
df_primera_compra[['customer_id', 'order_date', 'product_name']]

  customer_id  order_date product_name
2           A  2021-01-07        curry
9           B  2021-01-11        sushi

# **7. C煤ales items fueron comprados justo antes de que el cliente se convirtiera en miembro?**

## **Soluci贸n SQL**

In [ ]:
query = """

  - Primera compra antes de ser miembro

  WITH first_buy_before_membership AS (
    SELECT
      s.customer_id,
          s.product_id,
          s.order_date,
          DENSE_RANK() OVER(PARTITION BY s.customer_id ORDER BY s.order_date DESC) AS ranking
    FROM sales s
    LEFT JOIN members m
    ON s.customer_id = m.customer_id AND s.order_date < m.join_date
    WHERE m.customer_id IS NOT NULL 
    )

  
  SELECT
    f.customer_id,
      m.product_name
  FROM
    first_buy_before_membership f
  INNER JOIN menu m
    ON f.product_id = m.product_id
  WHERE 
    ranking=1


"""

pd.read_sql_query(query, connection)

  customer_id product_name
0           A        sushi
1           B        sushi
2           A        curry

**Explicaci贸n**: Similar al anterior ahora nos aseguramos de generar una tabla temporal en donde nos aseguremos que la fecha de que se unen como miembro sea mayor a la de la orden, de esta manera tendremos todos los pedidos que fueron comprados antes de convertirse en miembros. Por ultimo realizamos un filtrado de la tabla demporal para saber cual es el producto comprado justo antes de convertirse en miembro de cada usuario. Como C no es miembro no est谩 incluido.

##  **Soluci贸n Pandas**

In [38]:
# Generamos el merge entre nuestro df_merge y members para tener la columna join_date
df_combinado = df_merge.merge(df_members, on='customer_id', how='inner')

# Filtramos por todas aquellas fechas que sean inferior a join date
df_combinado = df_combinado[df_combinado['order_date'] < df_combinado['join_date']]

# Ordenamos por order date segun el cliente
df_combinado = df_combinado.sort_values(['customer_id', 'order_date'])

# Utilizamos transform para utilizar customer id y order date como regla para obtener los order date menores
fecha_primera_compra_por_cliente = df_combinado.groupby('customer_id')['order_date'].transform('min')
# Resultado final filtrado
df_primeras_compras_con_multiples = df_combinado[df_combinado['order_date'] == fecha_primera_compra_por_cliente]

df_primeras_compras_con_multiples[['customer_id', 'product_name']]

  customer_id product_name
0           A        sushi
1           A        curry
6           B        curry

# **8. C煤al es el total de items y la cantidad gastada por cada miembro antes de que se convirtieran en miembros?**

In [ ]:
query = """

-- Tabla temporal con los productos antes de convertirse en miembros

WITH first_buy_before_membership AS (
    SELECT
        s.customer_id,
            s.product_id,
            s.order_date
    FROM 
        sales s
    LEFT JOIN 
        members m
    ON 
        s.customer_id = m.customer_id AND s.order_date < m.join_date
    WHERE 
        m.customer_id IS NOT NULL 
    )


SELECT
	f.customer_id,
    COUNT(m.product_name) AS total_items,
    SUM(m.price) AS total_spend
FROM 
    first_buy_before_membership f
INNER JOIN 
    menu m
ON f.product_id = m.product_id
GROUP BY
     f.customer_id



"""

pd.read_sql_query(query, connection)

  customer_id  total_items  total_spend
0           A            2           25
1           B            3           40

Explicaci贸n: Juntamos la tabla **Sales** con la tabla **miembos** ya que esta tiene la fecha en donde comenzaron a hacer miembros los usuarios. Gracias a esto ponemos la condici贸n de que la fecha sea menor a la fecha de inicio de la membresia. Con esto generamos otro cruce pero ahora con **menu** para saber cuales son los precios de cada producto y asi poder sacar el total gastado.

##  **Soluci贸n Pandas**

In [43]:
# Generamos el merge entre nuestro df_merge y members para tener la columna join_date
df_combinado = df_merge.merge(df_members, on='customer_id', how='inner')

# Filtramos por todas aquellas fechas que sean inferior a join date
df_combinado = df_combinado[df_combinado['order_date'] < df_combinado['join_date']]

# Ordenamos por order date segun el cliente
df_combinado = df_combinado.sort_values(['customer_id', 'order_date'])

df_combinado.groupby('customer_id', as_index=False).agg({'product_id': 'count','price': 'sum'})\
                                                   .rename(columns={'product_id': 'total_items','price': 'total_sales'})

  customer_id  total_items  total_sales
0           A            2           25
1           B            3           40

**-- 9.  Si cada $1 gastado es igual a 10 puntos y el sushi tiene un multiplicador de 2x - Cuantos puntos deberia tener cada cliente ?**

In [ ]:
query = """

SELECT
	customer_id,
	SUM(CASE WHEN product_name = 'sushi' THEN price * 20 ELSE price*10 END) AS puntos_clientes
FROM 
	sales s
LEFT JOIN menu m
USING (product_id)
GROUP BY customer_id


"""

pd.read_sql_query(query, connection)

  customer_id  puntos_clientes
0           A              860
1           B              940
2           C              360

**Explicaci贸n: **Seg煤n lo explicado sabemos que si cada 1$ = 10 pts sabemos que para el **sushi 1\$ = 20 osea 20 x price**. Con esto ya es facil utilizar un CASE WHEN para cuando el product_name sea sushi multiplicar por 20 y en cualquier otro caso multiplicar por 10. Con esto adem谩s nos aseguramos juntar la tabla sales con menu ya que en estas se encuentran los precios de cada items necesarios para calcular los puntos. Agrupamos por clientes y tenemos el resultado.

**-- 10. En la primera semana despu茅s que un cliente se una al programa (incluyendo la fecha de ingreso) estos ganan 2x puntos en todos los items, no solo en sushi- Cuantos puntos tienen el cliente A y B para el final de enero ?**

In [ ]:
query = """

-- Tabla temporal con la fecha desde el inicio hasta 1 semana despues de la fecha de inicio de membresia

WITH time_interval AS (
SELECT
  	customer_id,
	join_date as start_date,
    date(join_date, '+7 days') as end_date
FROM members )


-- Utilizando la fecha de inicio y final de la semana para filtrar las fechas y multiplicar segun si est谩 dentro o fuera de esta fecha

SELECT
	s.customer_id,
	SUM(CASE WHEN t.start_date IS NOT NULL THEN 20*price ELSE 10*price END) AS puntos
FROM sales s
LEFT JOIN time_interval t
ON s.customer_id = t.customer_id AND s.order_date BETWEEN t.start_date AND t.end_date
LEFT JOIN menu m
ON s.product_id = m.product_id
GROUP BY s.customer_id



"""

pd.read_sql_query(query, connection)

  customer_id  puntos
0           A    1270
1           B     960
2           C     360

**Explicaci贸n:** El primer paso es la creaci贸n de una tabla temporal que tenga dos columnas con el valor de comienzo de la semana de membresia y el final de la semana de membresia. Una vez con esta tabla temporal se utiliza para juntarla con la tabla **sales** y **menu**, asegurandose que la orden de la fecha de cada item este entre el rango de la fecha calculada en la tabla temporal. Realizado este paso tendremos todas las compras y aquellas que no tengan valores nulos en sus joins se multiplican por 20 porque representan a ordenes generadas en al semana de inicio de membresia y por 10 cuando no estan dentro de la semana de membresia.

**PD:** Notar que no se incluyen m谩s filtros como que sea en enero y que sean los custumers A Y B que seg煤n los dem谩s ejercicios est谩 claro que solo A Y B son miembros y adem谩s los datos son todos de enero.