In [1]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from dotenv import load_dotenv
import os

load_dotenv()  # Carga las variables del archivo .env

config = {
    'host': os.getenv('HOST'),
    'user': os.getenv('USER'),
    'password': os.getenv('PASSWORD'),
    'database': os.getenv('DATABASE'),
    'port': os.getenv('PORT')
}

In [3]:
import mysql.connector

connection = mysql.connector.connect(**config)

In [4]:
cursor = connection.cursor()

<center><h1><b>Generación Tablas</b></h1</center>

In [5]:
# Ejecutar DROP y luego CREATE en dos líneas
cursor.execute("DROP TABLE IF EXISTS caso_5.weekly_sales;")
cursor.execute("""
CREATE TABLE caso_5.weekly_sales (
    week_date VARCHAR(7),
    region VARCHAR(13),
    platform VARCHAR(7),
    segment VARCHAR(4),
    customer_type VARCHAR(8),
    transactions INT,
    sales INT
);
""")
connection.commit()

In [6]:
from utils.funciones_utiles import load_text_as_tuples, verifica_tabla

cursor.executemany(
    '''INSERT INTO caso_5.weekly_sales VALUES (%s, %s, %s, %s, %s, %s, %s)''', 
    load_text_as_tuples('datos_tablas/data_weekly_sales.txt'))

connection.commit()

In [8]:
verifica_tabla('weekly_sales', connection)

  week_date  region platform segment customer_type  transactions     sales
0   31/8/20    ASIA   Retail      C3           New        120631   3656163
1   31/8/20    ASIA   Retail      F1           New         31574    996575
2   31/8/20     USA   Retail    null         Guest        529151  16509610
3   31/8/20  EUROPE   Retail      C1           New          4517    141942
4   31/8/20  AFRICA   Retail      C2           New         58046   1758388